.animal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  width: 80%;
  min-height: 450px;
  background-color: #ff6868;
  border-radius: 5px;

  &--fed {
    @extend .animal-details;
    background-color: #99ff83;

    .feed-btn {
      background-color: #75c263 !important;
      color: #64a555 !important;
    }
  }

  .img-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .animal-image {
      width: 250px;
      border-radius: 5px;
    }
  }

  .feed-btn {
    background-color: #e05959;
    color: #fff3f3;

    &:hover {
      background-color: #bb4b4b;
    }
  }
}

@media only screen and (min-width: 768px) {
  .animal-details {
    padding: 1em;
    .img-facts {
      flex-direction: row;
      gap: 2em;

      .animal-image {
        width: 400px;
      }
    }
  }
}
