.animal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  width: 50%;
  min-height: 550px;

  .animal-image {
    width: 400px;
  }
}

.img-facts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
